include button

block var

input.check--front(type='checkbox', id=`check__${front_id}`)
.popup__backdrop
  .popup
    //- front
    .popup--front(id=popup_front_id_enable ? `popup__${front_id}` : "")
      //- top
      .popup__top
        block front-logo
        h2.popup__title= front_title
        label.popup__close(for=`check__${front_id}`)

      //- body
      block front-body

      //- bottom
      .popup__bottom
        //- button primary
        +button(front_id, front_btnPrimary_label, front_btnPrimary_icon, 'button--primary button__play')

        //- button secondary
        +button(back_id, front_btnSecondary_label, front_btnSecondary_icon, 'button--secondary')

        //- extera button
        block extera-button

    //- back
    input.check--back(type='checkbox', id=`check__${back_id}`)
    .popup--back(id=popup_back_id_enable ? `popup__${back_id}` : "")
      //- top
      .popup__top
        block back-logo
        h2.popup__title= back_title
        label.popup__close(for=`check__${front_id}`)

      //- body
      block back-body

      //- bottom
      .popup__bottom
        //- button primary
        +button(front_id, back_btnPrimary_label, back_btnPrimary_icon, 'button--primary button__play')

        //- button secondary
        +button(back_id, back_btnSecondary_label, back_btnSecondary_icon, 'button--secondary')
